{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}

<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70 text-center">
                        <h2 style="font-size: ">Page not found</h2>

                        <h3>Sorry, this page could not be found.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
